/***********
***********

css 초기화 코드 및 모든 페이지에 적용.
여기에 다른 css코드 작성금지.
전 페이지에 모두 적용되어야 할 css 코드만 작성함.

************
***********/

@charset "utf-8";
@import url(//fonts.googleapis.com/earlyaccess/notosanskr.css);
body {
  font-family: "Noto Sans KR", sans-serif !important;
}

html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, font, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td { margin:0; padding:0 }
body, input, textarea, select, button, table { font-size:14px; line-height:1.25em; font-family:'나눔고딕', NanumGothic, Helvetica, AppleGothic, Sans-serif, ngwoff, ngeot, '굴림', gulrem; }
html, body { height: 100%; padding:0; margin:0; }
img, fieldset { border:0 }
ul, ol { list-style:none }
em, address { font-style:normal }
a { text-decoration:none }
a:hover, a:active, a:focus { text-decoration:underline }
input::-ms-clear,input::-ms-reveal {display: none; width : 0; height: 0;}
input::-webkit-search-decoration,
input::-webkit-search-cancel-button,
input::-webkit-search-results-button,
input::-webkit-search-results-decoration { display: none; }

.clear { clear: both;}

#wrap {
    overflow: hidden;
}
/***********
***********

헤더영역 css
여기에 다른 css코드 작성금지

************
***********/


/* 글로벌 링크 영역 시작 */
#header_wrap {
    width: 100%;
    height: 255px;
}

#header_wrap > #header {
    height: 255px;
}

#header > #global_nav_wrap {
    width: 100%;
    height: 50px;
    border-bottom: 1px solid #CDC9C5;
}

#global_nav {
    width: 1280px;
    margin: 0 auto;
}

#global_nav > ul {
    height: 50px;
    float: right;
}

#global_nav > ul > li {
    float: left;
    line-height: 50px;
    
}

#global_nav > ul > li > a {
    padding-left: 10px;
    padding-right: 10px;
    border-right: 1px solid #CDC9C5;
    color: #000;
}

#global_nav > ul > li:last-child > a {
   border : 0;
}

/* 글로벌 링크 영역 끝 */


/* 메인로고 및 검색 영역 시작 */

#header_logo_wrap {
    width: 100%;
    height: 135px;
    border-bottom: 1px solid #CDC9C5;
}

#header_logo_wrap > #logo_wrap {
   width: 1140px;
   margin: 0 auto;
   padding-top: 40px;
   padding-left: 30px;
   height: 135px;
   box-sizing: border-box;
}

#logo_wrap > h1, form {
    float: left;
}

#logo_wrap > h1 > a > img {
    width: 200px;
}

#logo_wrap > form > input[type=search] {
    width: 850px;
    margin-left: 20px;
    height: 50px;
    border:0;
    background: 0;
    border-bottom: 1px solid #CDC9C5;
    padding-left: 15px;
    font-size: 20px;
    background : url('/img/common/header_search.png') no-repeat;
    background-position: 98% 15px;
    -webkit-background-size: 23px;
    background-size: 23px;;
}

#logo_wrap > form > input[type=search]:focus {outline:none;}

/* 메인로고 및 검색 영역 끝 */


/* 사이트 이동 영역 시작 */
#main_nav_wrap {
    width: 100%;
    height: 70px;
    border-bottom: 1px solid #CDC9C5;
    box-sizing: border-box;
}

#main_nav_wrap > #main_nav {
    width: 1280px;
    margin: 0 auto;
    height: 70px;
}

#main_nav > li:first-child {
    width: 200px;
    text-align: center;
    border-left: 1px solid #CDC9C5;
    border-right: 1px solid #CDC9C5;
    margin-right: 10px;
    background: url('/img/common/header_write.png') no-repeat;
    -webkit-background-size: 20px;
    background-size: 20px;
    background-position: 65px center;
}

#main_nav > li > a {
    color: #000;
    display: inline-block;
}

#main_nav > li > a:hover {
    text-decoration: none;
    font-weight: bold;
    color: #334663;
}

#main_nav > li:first-child > a {
    width: 265px;
    height: 70px;
    text-align: center;
    font-weight: bold;
    color: #97616C;
    margin-left: -12px;
}

#main_nav > li { 
    width: 152px;
    float: left;
    line-height: 70px;
    font-size: 18px;   
    text-align: center;
}

#main_nav > li > a { 
    width: 142px;
   
}

/***********
***********

풋터영역 css
여기에 다른 css코드 작성금지

************
***********/

#footer_wrap {
    margin-top: 100px;
    border-top: 1px solid #CDC9C5;
    background-color: #CDC9C5;
    padding-bottom: 30px;
}

#footer_wrap > footer {
    width: 1280px;
    margin: 0 auto;
}

footer > ul {
    width: 100%;
    height: 70px;
}

footer > ul > li {
    float: left;
    width: 150px;
    height: 70px;
    line-height: 70px;
    font-size: 12px;
    font-weight: bold;
}

footer > ul > li > a {
    color: #000;
}

#footer_info_wrap {
    margin-top: 30px;
    display: inline-block;
}

.logo_wrap {
    float: left;
}

.logo_wrap > img {
    width: 200px;    
}

#footer_info_wrap > p {
    margin-left: 70px;
    float: left;
    text-align: left;
}
